.statistics {
  padding: 32px 0;
  min-height: 172px;
}
.stat {
  &__item {
    gap: 12px;
    @include up(xl) {
      width: fit-content;
    }
    & .ghost__number {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 90px;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
      @include down(lg) {
        font-size: 60px;
      }
    }
  }
  &__number {
    font-size: 28px;
  }
  &__description {
    font-size: 13px;
  }
}
